<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/products">Listar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/products/new">Nuevo Producto</a>
    </li>
</ul>
